{% extends 'base.html' %}

{% block menu %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create_feedback' %}"> Create feedback <span class="sr-only">(current)</span></a>
      </li>
{% endblock %}

{% block content %}
    <h1>Guest book</h1>
    {% for feedback in feedbacks %}
        <div class="card mt-3" style="width: 80%;">
        <div class="card-body">
        <h5 class="card-title">Author: {{ feedback.name }}({{ feedback.email }})</h5>
        <h6 class="card-subtitle mb-2 text-muted">Create: {{ feedback.created_at }} Updated: {{ feedback.updated_at }}</h6>
        <p class="card-text">{{ feedback.text }}</p>

        <a href="{% url 'feedback_delete'  feedback.pk%}" class="card-link"><i class="fas fa-trash-alt"></i></a>
        <a href="{% url 'update_feedback' feedback.pk %}" class="card-link"><i class="fas fa-edit"></i></a>

        </div>
        </div>
    {% endfor %}
{% endblock %}
