{% extends 'base.html' %}

{% block menu %}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create_feedback' %}"> Create feedback <span class="sr-only">(current)</span></a>
      </li>

{% endblock %}
{% block searchfield %}
    <form class="form-inline my-2 my-lg-0" method="GET" action="" id="searchform">
      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Введите имя автора..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form>
{% endblock %}

{% block content %}
    <h1>Guest book</h1>

    {% url "create_feedback" as action_url %}
    {% include 'partial/form.html' with action_url=action_url form_method='post' button_text='Добавить'%}

    {% for feedback in feedbacks %}
        <div class="card mt-3 mb-3" style="width: 80%;">
        <div class="card-body">
        <h5 class="card-title">Author: {{ feedback.name }}({{ feedback.email }})</h5>
        <h6 class="card-subtitle mb-2 text-muted">Create: {{ feedback.created_at }} Updated: {{ feedback.updated_at }}</h6>
        <p class="card-text">{{ feedback.text }}</p>

        <a href="{% url 'feedback_delete'  feedback.pk%}" class="card-link"><i class="fas fa-trash-alt"></i></a>
        <a href="{% url 'update_feedback' feedback.pk %}" class="card-link"><i class="fas fa-edit"></i></a>

        </div>
        </div>
    {% endfor %}




{% endblock %}
